@use '../abstracts/' as *;

.pricing-plans {
    display: flex;
    border: size(8) solid clr(primary, 400);
}

.tier {
    display: grid;
    flex: 1;
    gap: size(20);

    &__title {
        text-transform: uppercase;
    }

    &__feature-list {
        list-style: none;
    }

    &__list-item {
        &:not(:last-child)::after {
            background-color: clr(neutral, 900);
            content: '';
            display: block;
            height: 1px;
            margin-block: size(20);
            opacity: .2;
        }
    }
}